<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gérer Réservation</title>
    <link rel="stylesheet" href="style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <span id="Logo"> Commune </span>
        <div>
          <a href="GererReservation.html">Gérer Réservation</a>
          <a href="">Emettre Facture</a>
          <a
            href="/Salle.html"
            style="color: #22a39f; font-weight: 700; text-decoration: underline"
            >Salle</a
          >
          <a href="Demandeur.html">Demandeur</a>
        </div>
      </nav>
    </header>
    <main>
      <h1 style="margin-bottom: 30px">Gestion Salles</h1>
      <div>
        <section>
          <form action="" method="post">
            <label for="numSalle">Numéro Salle</label>
            <input type="text" name="numSalle" />
            <label for="superficie">superficie</label>
            <input type="text" name="superficie" style="margin-bottom: 30px" />
            <input type="submit" value="Enregistrer" name="save" />
            <input type="submit" value="Modifier" name="update" disabled />
            <input type="submit" value="Supprimer" name="delete" disabled />
            <input type="button" value="Annuler" name="annuler" />
          </form>
        </section>
        <section>
          <table id="salles">
            <thead>
              <tr>
                <th>Numéro Salle</th>
                <th>Superfécie</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </section>
      </div>
    </main>
    <footer>All copyrights goes to Amin Kessmtini</footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
      var dataTable = $("#salles").DataTable({
        ajax: {
          url: "http://localhost:9999/salle",
          dataSrc: "",
        },
        columns: [{ data: "num" }, { data: "superficie" }],
      });

      $("#salles tbody").on("click", "td", function () {
        var cellData = dataTable.cell(this).data();
        var rowData = dataTable.row($(this).closest("tr")).data();

        $("input[name='numSalle']").val(rowData.num);
        $("input[name='superficie']").val(rowData.superficie);
        $("input[name='save']").prop("disabled", true);
        $("input[name='update']").prop("disabled", false);
        $("input[name='delete']").prop("disabled", false);
      });
      function mettreAJourSalle(id, nouvelleSuperficie) {
        fetch(`http://localhost:9999/salle/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ superficie: nouvelleSuperficie }),
        })
          .then((response) => {
            if (response.ok) {
              // Mise à jour réussie
              location.reload();

              // Actualiser le DataTable ou effectuer d'autres actions nécessaires
            } else {
              console.error("Échec de la mise à jour de la salle");
            }
          })
          .catch((error) =>
            console.error("Erreur lors de la mise à jour de la salle:", error)
          );
      }

      // Utilisation de la fonction pour mettre à jour une salle
      $("input[name='update']").on("click", function () {
        var idSalle = $("input[name='numSalle']").val();
        var nouvelleSuperficie = $("input[name='superficie']").val();
        mettreAJourSalle(idSalle, nouvelleSuperficie);
      });

      function supprimerSalle(id) {
        fetch(`http://localhost:9999/salle/${id}`, {
          method: "DELETE",
        })
          .then((response) => {
            if (response.ok) {
              // Suppression réussie
              // Recharger la page
              location.reload();
            } else {
              console.error("Échec de la suppression de la salle");
            }
          })
          .catch((error) =>
            console.error("Erreur lors de la suppression de la salle:", error)
          );
      }

      // Utilisation de la fonction pour supprimer une salle
      $("input[name='delete']").on("click", function () {
        var idSalle = $("input[name='numSalle']").val();
        supprimerSalle(idSalle);
      });
      $("input[name='annuler']").on("click", function () {
        // Réinitialiser les champs du formulaire
        $("input[name='numSalle']").val("");
        $("input[name='superficie']").val("");
        // Désactiver les boutons "Modifier" et "Supprimer"
        $("input[name='update']").prop("disabled", true);
        $("input[name='delete']").prop("disabled", true);
        $("input[name='save']").prop("disabled", false);
      });
      function addSalle(nouveauNumSalle, nouvelleSuperficie) {
        fetch("http://localhost:9999/salle", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            num: nouveauNumSalle,
            superficie: nouvelleSuperficie,
          }),
        })
          .then((response) => {
            if (response.ok) {
              // Ajout réussi
              location.reload(); // Recharger la page ou actualiser le DataTable
            } else {
              console.error("Échec de l'ajout de la salle");
            }
          })
          .catch((error) =>
            console.error("Erreur lors de l'ajout de la salle:", error)
          );
      }

      $("input[name='save']").on("click", function () {
        var nouveauNumSalle = $("input[name='numSalle']").val();
        var nouvelleSuperficie = $("input[name='superficie']").val();
        addSalle(nouveauNumSalle, nouvelleSuperficie);
      });
    </script>
  </body>
</html>
